# compiled JS (test, webpack)
out/
dist/

# sample docs created during testing
src/test/test-proj/docs

TODO
node_modules
.vscode-test/
*.vsix
*.log

# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# MacOS Files
.DS_Store
