@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i|Nanum+Gothic&display=swap');

:root {
    --dark-blue: #003672;
    --grey-blue: #51638A;
    --light-grey: #f7f7f7;
    --med-grey: #e7e7e7;
    --med-blue: #00f;
    --white: #fff;
    --dark-red: #a31515;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    padding: 0px;
}

#side-bar {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: -1px;
    width: 22%;
}

.search-icon {
    height: 15px;
    margin: 0 2px 0 5px;
    vertical-align: middle;
}

#search-wrapper {
    border-bottom: 1px solid lightgrey;
    margin: 10px 0 5px 10px;
    padding-bottom: 5px;
}

#search-input {
    border: none;
    outline: none;
    width: 80%;
}

#search-results {
    height: 0;
    margin: 0;
    transition: height .3s, margin .3s;
}

#search-results.visible {
    height: 30%;
    list-style: none;
    margin-bottom: 5px;
    overflow-y: scroll;
    padding-left: 12px;
}

.search-result:hover {
    cursor: pointer;
    text-decoration: underline;
}

.scoping-panel {
    background: white;
    padding: 8px;
    position: sticky;
    text-align: center;
    top: -1px;
}

#content {
    float: right;
    padding-left: 10px;
    vertical-align: top;
    width: 78%;
}

.section-title {
     color: var(--grey-blue);
     font-weight: bold;
     margin: 0 0 5px 0;
     padding: 5px 5px 5px 0px;
     font-family: 'Nanum Gothic';
}

.section-title a {
    color: var(--grey-blue);
}

.subsection-title {
    /* border-top: 1px solid var(--grey-blue); */
    font-family: 'Nanum Gothic';
    color: var(--grey-blue);
    margin: 0;
    padding: 2px;
}

.subsection-container {
    margin-top: 10px;
    padding: 0 0 0 14px;
}

.method-header {
    /* border-top: 1px solid var(--grey-blue); */
    color: var(--grey-blue);
    font-size: 1em;
    margin: 20px 0 0 0;
    padding: 4px 0 2px 0;
}

.attributes-table {
    border-collapse: collapse;
    max-width: 97%;
}

.attributes-table th {
    background: #547499;
    color: var(--white);
    text-align: left;
}

.attributes-table th,
.attributes-table td {
    border: 1px solid #d6d4d4;
    font-size: .9em;
    padding: 5px;
}

.attributes-table tr:nth-child(odd) {
    background: var(--light-grey);
}

/* restrict width of enum value column so
most signatures will fit on a single lin */
.attributes-table .enumValues {
    max-width: 300px;
    overflow-wrap: break-word;
}

.attribute-name {
    font-size: .9em;
    font-weight: bold;
}

.prop-annotations,
.attribute-signature {
    background: none;
    font-family: monospace;
    padding: 0;
}

.attribute-signature {
    white-space: nowrap;
}

.attribute-description {
    font-weight: normal;
}

.attribute-description.has-description {
    height: 1em;
}

.class-annotations,
.class-signature {
    font-family: monospace;
    font-size: 1.05em;
    font-weight: normal;
    padding: 0 0 4px 15px;
    text-indent: -15px;
}

.class-annotations {
    padding: 0 0 0 15px;
}

.class-details {
    font-size: .9em;
}

.class-subtitle {
    color: var(--grey-blue);
    font-size: 1em;
    font-weight: bold;
    margin: .7em 0 0 0;
}

.class-subtitle-description {
    font-size: 1em;
    margin: 0 0 0 1em;
}

.source-link {
    color: var(--med-blue);
    text-decoration: initial;
}

.source-link:hover {
    text-decoration: underline;
}

.methods-container {
    margin-bottom: 10px;
}

ul.methods-toc {
    margin-top: 0;
}

.methods-toc__entry {
    color: var(--med-blue);
    font-size: .9em;
}

.methods-toc__entry:visited {
    color: purple;
    font-size: .9em;
}

.methods-toc__entry.deprecated {
    font-weight: inherit;
}

.methods-toc__entry.deprecated:visited {
    color: var(--dark-red);
    font-size: .9em;
}

.methods-toc__description {
    font-size: .9em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.method-signature,
.method-annotations {
    font-family: monospace;
    font-size: 1em;
    padding: 0 0 0 15px;
    text-indent: -15px;
}

.method-description {
    font-size: .9em;
    margin: .5em 0 0 0;
}

.method-subtitle__description {
    font-size: .9em;
    margin: 0 0 0 1em;
}

.method-subtitle {
    color: var(--grey-blue);
    font-size: .9em;
    font-weight: bold;
    margin: .7em 0 0 0;
}

.codeExample {
    margin: 0 5px 0 0;
}

.codeExample code {
    background: var(--light-grey);
    padding: .5em .7em;
}

.param-name {
    font-size: .9em;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 0 .5em;
}

.param-type                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ,
.param-description {
    font-size: .9em;
    margin: .3em .3em .3em 1em;
}

/* Style Details Caret Element */
details summary::-webkit-details-marker {
    color: black !important;
    float: right;
    margin-top: 5px;
}

details.section summary::-webkit-details-marker {
    color: var(--light-grey) !important;
    margin-top: 10px;
}

details.subsection summary::-webkit-details-marker {
    color: black !important;
}

/* SIDEBAR CSS */
.navbar {
    font-size: .95em;
}

.navbar li {
    background: var(--med-grey);
    border-top: 1px solid #d1d1d1;
    cursor: pointer;
    height: 25px;
    margin: 0;
    padding: 6px 0 2px 40px;
    user-select: none;
}

.navbar ul {
    background: var(--med-grey);
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-item.active,
.navbar .nav-item:hover {
    background: #d9d9d9;
}

.navbar .nav-item a {
    color: black;
    text-decoration: none;
}

.navbar .nav-item a:focus,
.navbar .nav-item:hover a {
    color: var(--med-blue);
    outline: none;
}

.nav-header {
    background: var(--light-grey);
    border-top-color: var(--white);
    border: 1px solid #dce4e7;
    cursor: pointer;
    height: 25px;
    padding: 6px 0 0 6px;
    user-select: none;
}

a.nav-header {
    display: block;
}

.nav-header,
.nav-header a {
    color: black;
}

.nav-header a:focus,
.nav-header:focus {
    color: var(--med-blue);
    outline: none;
}

/* Hmm not sure if we want this anymore... */
/* a.nav-header.active {
    background: #cfcdcd;
}

details[open] .nav-header.active {
    background: #cfcdcd;
} */

.nav-header:hover,
.nav-header:hover a {
    background: #cfcdcd;
    color: var(--med-blue);
}

/* accents */
/* .class-annotations,
.methodAnnotations {
    color: var(--dark-blue);
    font-weight: 600;
} */

.inline-code {
    background-color: var(--light-grey);
    color: var(--dark-red);
    font-family: monospace;
    padding: 1px 5px;
}

.deprecated {
    color: var(--dark-red);
    font-weight: bold;
}

.footer {
    font-size: .8em;
    margin-bottom: 10px;
    text-align: center;
}

.hide {
    display: none;
}